
.disk{
    background-color: rgb(255, 127, 251);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 0px;
    width: 0px;
    border-left:100px solid rgb(154, 255, 240) ; /* Adjust the size as needed */
    border-right:50px solid transparent; /* Adjust the size as needed */
    border-bottom: 50px solid transparent; /* Adjust the size and color as needed */

}
